/* 
html5doctor.com Reset Stylesheet
v1.4.1 
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

:focus {
	outline: 1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
a, a:visited { color:#FE1F4B; text-decoration: none;}
a:hover, a:visited:hover { color:#333;}
input, select { vertical-align:middle; }
body { background: white; text-align:center;  font-size: 15px; padding-bottom: 250px;}
#frame { width: 850px; margin: 10px auto; text-align:left; padding-right: 100px}
#content { margin-left: 240px; padding-top: 48px; font-family: helvetica, arial, sans-serif;}
#corporate { margin: 50px auto; width: 200px; font-family: helvetica, arial, sans-serif; font-size: 12px; line-height: 1.2;}
#logo { float: left; width: 225px;}
sup { vertical-align: super; font-size: smaller; }
h1 { font-size: 48px;}
h2 { font-size: 32px;}
h3 { font-size: 24px;}
header { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; font-family: 'Yanone Kaffeesatz',arial, serif;}
header h1, header h2, header h3 { margin: 12px 6px }
p { margin: 12px 0px; line-height: 1.2} 
em { font-weight: bolder; font-style:normal} 
ul { list-style:disc; margin: 6px 0px;  }
section { margin: 12px 8px; }
li { padding-left: 10px; margin-left: 30px; margin-bottom: 6px} 
h4 { border-bottom: 1px solid #ccc; font-family: 'Yanone Kaffeesatz',arial, serif; margin-top: 18px; font-size: 20px}
section h1 { font-family: 'Yanone Kaffeesatz',arial, serif; margin-top:18px; margin-bottom: 12px;}
dl { margin: 12px 4px;line-height: 1.2 } 
dt { float:left; font-weight: bold; width: 110px; text-align: right} 
dd { margin-left: 120px; margin-bottom: 6px} 
.register { text-align: center; margin: 24px 0px;}


footer { display: block; margin-top: 32px; padding-top:22px; padding-left:8px; border-top:1px solid #ccc; font-size:12px;}
footer img { vertical-align: middle; margin-left: 8px;}